<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accessible Nav Test</title>
    <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="accessibleNav" class="accessibilityOverlay">
            <a href="javascript:void(0)" class="accessibleclosebtn" onclick="closeAccessNav()">&times;</a>
            <div class="accessibilityOverlay-content">
              <a href="#">Home</a>
              <a href="#">About Us</a>
              <a href="#">Tracker</a>
              <a href="#">Contact</a>
            </div>
          </div>
          
          <h2>Fullscreen navigation for accessibility</h2>
          <p>Click below to open fullscreen navigation.</p>
          <span style="font-size:30px;cursor:pointer" onclick="openAccessNav()">&#9776; open</span>
        <script src="index.js"></script>
    </body>   
</html>
