<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar test</title>
    <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="navbar1" class="navbar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Tracker</a>
            <a href="#">Contact Information</a>
          </div>
          
          <div id="main">
            <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>  
            <h2>This is a test</h2>
          </div>
        <script src="index.js"></script>
    </body>   
</html>
